<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- serachBox -->
    <!-- <shared-search-box
      (onDebounce)="searchByregion($event)"
      placeholder="Buscar por Región"
    >
    </shared-search-box> -->
    <button *ngFor="let region of regions"
      class="btn mx-2"
      (click)="searchByregion(region)"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table
        [countries]="countries"
      >
      </countries-table>
  </div>
</div>
